<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../page/index/index.css">
</head>

<body>
    <div class="container">
        <div class="mask">
            <div class="header">
                <a href="javascript:;" class="header_icon">
                    <img src="../img/icon.png">
                    <h5>DesignLogo</h5>
                </a>
                <a href="javascript:;" class="header_btn">制作LOGO</a>
                <ul class="header_right">
                    <li>
                        <a href="javascript:;" class="signin">注册</a>
                    </li>
                    <li>
                        <a href="javascript:;">价格</a>
                    </li>
                    <li>
                        <a href="javascript:;">制作</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <h1>随心所欲免费订制你的专属Logo</h1>
            </div>
        </div>
    </div>
    <div class="container"></div>
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../page/index/index.js"></script>

</html>